.idea/
.ipynb_checkpoints/
data_analysis/
733109485275860992.jpg
795464331001561088.jpg
846514051647705089.jpg
870374049280663552.jpg
883482846933004288.jpg
act_report.ipynb
App.txt
average_retweet_favorite_count.png
distribution_dog_stage.png
keys.txt
retweet_count_favorite_count_scatter_plot.png
top_10_dog_breeds.png
we_rate_dogs_forrest.png
we_rate_dogs_fred.png
we_rate_dogs_peanut.png
wrangle_report.ipynb